@using Catering
@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="header-wrapper">
    <div class="header-v5">
        <div class="header-social">
            <div class="avada-row">
                <div class="alignleft">
                    <div class="header-info">
                        @if (!string.IsNullOrEmpty(SiteHelper.GetHomeNode().ContactNumber))
                        {
                            @:Contact us on: @SiteHelper.GetHomeNode().ContactNumber
                            <span class="sep">|</span>
                        }
                        @if (!string.IsNullOrEmpty(SiteHelper.GetHomeNode().InfoEmail))
                        {
                            string mail = "mailto:" + SiteHelper.GetHomeNode().InfoEmail;
                            <a href="@mail">@SiteHelper.GetHomeNode().InfoEmail</a>
                        }
                    </div>
                </div>
                <div class="alignright">
                    <div class="fusion-social-links-header">
                        <div class="fusion-social-networks boxed-icons">
                            <a class="fusion-social-network-icon fusion-tooltip fusion-facebook icon-facebook" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.facebook.com/purpleplumcatering.norwich" target="_blank" data-placement="bottom" data-title="Facebook" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-twitter icon-twitter" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="http://twitter.com/purpleplumcater" target="_blank" data-placement="bottom" data-title="Twitter" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-youtube icon-youtube" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.youtube.com/channel/UCSn8QWyxEwP58D7JBjuwmcw" target="_blank" data-placement="bottom" data-title="Youtube" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-instagram icon-instagram" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="http://instagram.com/purpleplumcatering" target="_blank" data-placement="bottom" data-title="Instagram" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-pinterest icon-pinterest" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.pinterest.com/purpleplumcater/" target="_blank" data-placement="bottom" data-title="Pinterest" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-googleplus icon-googleplus" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://plus.google.com/+PurpleplumcateringCoUk01/about" target="_blank" data-placement="bottom" data-title="Googleplus" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-linkedin icon-linkedin" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.linkedin.com/company/purpleplum-catering" target="_blank" data-placement="bottom" data-title="Linkedin" data-toggle="tooltip"></a>
                            <div class="fusion-clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="header">
            <div class="avada-row" style="padding-top:0px;padding-bottom:0px; overflow:hidden;">
                <div class="logo" data-margin-right="0px" data-margin-left="0px" data-margin-top="31px" data-margin-bottom="31px" style="margin-right:0px;margin-top:31px;margin-left:0px;margin-bottom:31px;">
                    <a href="http://www.purpleplumcatering.co.uk">
                        <img src="~/css/55039-200.png" width="80" height="80" alt="coconut logo"/>
                        <p class="logo-text">Coconut Catering</p>
                        <p class="secondary-logo-text">London</p>
                        @*<img src="http://www.purpleplumcatering.co.uk/wp-content/uploads/2013/08/purple-plum-logo.png" alt="" class="normal_logo" />
                            <img src="http://www.purpleplumcatering.co.uk/wp-content/uploads/2013/08/purple-plum-logo.png" alt="" style="width:300px;max-height:120px; height: auto !important" class="retina_logo" />*@
                    </a>
                </div>
            </div>
        </header>
        <div id="small-nav">
            <div class="avada-row">
                <nav id="nav" class="nav-holder">
                    <ul class="navigation menu fusion-navbar-nav">
                        <li id="menu-item-4968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item @(@Model.Content.IsAncestorOrSelf(SiteHelper.GetHomeNode()) ? "current_page_item" : null)">
                            <a title="Homepage" href="/">Home</a>
                        </li>
                        @foreach (var page in Umbraco.TypedContentAtRoot().First(x => x.DocumentTypeAlias.Equals(Home.ModelTypeAlias)).Children.Where("Visible"))
                        {
                            <li id="menu-item-4968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-@page.Id @(page.IsAncestorOrSelf(Model.Content) ? "current_page_item" : null)">
                                <a title="@page.Name" href="@page.Url">@page.Name</a>
                            </li>
                        }
                    </ul>
                </nav>
                <div class="mobile-nav-holder main-menu"></div>
            </div>
        </div>
    </div>
    <div class="init-sticky-header"></div>
</div>