@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var content = Model.Content;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        @(!content.HasValue("metaTitle") ? content.Name : content.GetPropertyValue("metaTitle"))
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="~/css/style2.css" rel="stylesheet" />
    <link href="~/css/FontAweasome.css" rel="stylesheet" />
    <link rel="shortcut icon" href="" type="image/x-icon" />

    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="">

    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">

    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="">

    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">

    <meta name="description" content="@content.HasValue("metaDescription")" />
    <meta name="robots" content="noodp" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@(!content.HasValue("metaTitle") ? content.Name : content.GetPropertyValue("metaTitle"))" />
    <meta property="og:description" content="@content.HasValue("metaDescription")" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Purple Plum Catering" />
    <meta property="article:publisher" content="" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@content.HasValue("metaDescription")" />
    <meta name="twitter:title" content="@(!content.HasValue("metaTitle") ? content.Name : content.GetPropertyValue("metaTitle"))" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:creator" content="" />
    <!-- / Yoast SEO plugin. -->
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='gg-custom-css-css' href='/css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='gg-slider-css-css' href='/css/galleria.lcweb.css' type='text/css' media='all' />
    <link rel='stylesheet' id='gg-lightbox-css-css' href='/css/lightbox.css' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider-css' href='/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900|Open+Sans:300|Indie+Flower:regular|Oswald:300,regular,700&#038;subset=latin,latin-ext' type='text/css' media='all' />
    <link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poly" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    @RenderSection("header", false)
    <script type='text/javascript' src='/scripts/jQueryMin.js'></script>
    <script type='text/javascript' src='/scripts/jQueryMigrate.js'></script>
    <script type='text/javascript' src='/scripts/layerslider.js'></script>
</head>
<body class="page page-id-5594 page-template page-template-full-width page-template-full-width-php no-tablet-sticky-header no-mobile-sticky-header no-mobile-totop" data-spy="scroll">
    <div id="wrapper" class="">
        @Umbraco.RenderMacro("Header")
        @RenderBody()
        <footer id="footer">
            <div class="avada-row">
                <div class="copyright-area-content">
                    <div class="copyright">
                        <div>Copyright @DateTime.Now.Year Coconut Catering | All Rights Reserved </div>
                    </div>
                    <div class="fusion-social-links-footer">
                        <div class="fusion-social-networks boxed-icons">
                            <a class="fusion-social-network-icon fusion-tooltip fusion-facebook icon-facebook" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.facebook.com/purpleplumcatering.norwich" target="_blank" data-placement="top" data-title="Facebook" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-twitter icon-twitter" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="http://twitter.com/purpleplumcater" target="_blank" data-placement="top" data-title="Twitter" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-youtube icon-youtube" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.youtube.com/channel/UCSn8QWyxEwP58D7JBjuwmcw" target="_blank" data-placement="top" data-title="Youtube" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-instagram icon-instagram" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="http://instagram.com/purpleplumcatering" target="_blank" data-placement="top" data-title="Instagram" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-pinterest icon-pinterest" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.pinterest.com/purpleplumcater/" target="_blank" data-placement="top" data-title="Pinterest" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-googleplus icon-googleplus" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://plus.google.com/+PurpleplumcateringCoUk01/about" target="_blank" data-placement="top" data-title="Googleplus" data-toggle="tooltip"></a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-linkedin icon-linkedin" style="color:#444;background-color:#ffffff;border-color:#ffffff;border-radius:20px;" href="https://www.linkedin.com/company/purpleplum-catering" target="_blank" data-placement="top" data-title="Linkedin" data-toggle="tooltip"></a>
                            <div class="fusion-clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- W3TC-include-js-head -->
    <script type="text/javascript" src="/scripts/jquery.tabslet.min.js"></script>
<script type="text/javascript" src="~/scripts/collapsible.js"></script>
    @RenderSection("scripts", false);
    <div id="gg_simple_loader"></div>

<script type="text/javascript">
    jQuery('.open-collapse').collapsible('accordion-open', {
        contentOpen: 1
    });
    jQuery(".no-link").click(function(e) {
        e.preventDefault();
    });
    jQuery(document).ready(function () {
        jQuery('.tabs').tabslet();
    });

</script>
</body>
</html>